{{#section 'head' }}
<link rel="stylesheet" href="/css/widgets/weather.css">
{{/section }}
<div class="weather-widget">
  <h2>Виджет погоды</h2>
    {{#each partials.weatherContext}}
    <div class="location">
      <h3>{{location.name}}</h3>
      <a href="{{location.forecastUrl}}">
        <img src="{{iconUrl}}" alt="{{weather}}">
        {{weather}}, {{temp}}
      </a>
    </div>
  {{/each}}
</div>